<h1>My Island Listings</h1>

<div class="container">
  <ul>
    <% @islands.each do |island| %>
      <li class="card"><%= link_to island.name, island_path(island), class: "link" %>
     <%= link_to "Edit", edit_island_path(island) %> <%= link_to "Delete Island", island_path(island), method: :delete,data: {confirm: "Are you sure?"} %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Add an island', new_island_path %> |  <%= link_to 'See Requests', my_requests_path %>
