<div class="home-banner">
  <div class="home-banner-text">
    <h1>My Private Islands</h1>
  </div>
</div>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<div class="container">
  <h2>Manage My Islands <%= link_to 'Add an island', new_island_path, class: "btn btn-info btn-lg float-right", id: "button-create" %></h2>

  <br>
  <ul class="nav nav-tabs">
    <li class="active" id="tab1"><a data-toggle="tab" href="#home">My Islands</a></li>
    <li id="tab2"><a data-toggle="tab" href="#menu1">My Island Requests</a></li>
    <li id="tab3"><a data-toggle="tab" href="#menu2">My Island Bookings</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <br>
      <p>You have <%= pluralize @islands.count, "private island" %> listed</p>
      <div class="cards">
          <% @islands.each do |i| %>
            <div class= "card">
              <%= cl_image_tag i.photos[0].key, crop: :fill, class: "card-img" %>
              <div class = "card-info">
                <div>
                  <%= link_to i.name, island_path(i), class: "link" %>
                  <div class = "card-main-info">
                    <i class="fas fa-user-friends"></i> <%=i.guests%>
                    <i class="fas fa-home"></i> <%=i.number_of_villas%>
                  </div>
                </div>
                <div class = "card-extra-info">
                  <%= i.squarekm %> km²
                  <br>
                  <%= i.price %> £/night
                </div>
              </div>
              <%= link_to "Edit", edit_island_path(i), class: "btn btn-light"%>
              <%= link_to "Delete Island", island_path(i), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-light" %>
            </div>
          <% end %>
      </div>
    </div>

    <div id="menu1" class="tab-pane fade">
      <br>
      <p>You have <%= pluralize @requests.count, "private island request" %></p>
      <div>
        <% @requests.each do |request|%>
          <div class="card-product">
              <% request.island.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
              <div class="card-product-infos">
              <h2><%= link_to request.island.name, island_path(request.island) %></h2>
              <p><%= request.user.email %> would like to stay at <%= request.island.name %>!</p><br>
              <p>from <%= request.start_date %> to <%= request.end_date %></p><br>
              <p><%= link_to "Confirm", booking_path(request, anchor: "tab3"), method: :patch %> | <%= link_to "Delete", booking_path(request, anchor: "tab2"), method: :delete, data: {confirm: "Are you sure?"} %></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>



    <div id="menu2" class="tab-pane fade">
      <br>
      <p>You have <%= pluralize @bookings.count, "upcoming private island bookings" %></p>
      <div>
        <% @bookings.each do |booking|%>
          <div class="card-product">
              <% booking.island.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
              <div class="card-product-infos">
              <h2><%= link_to booking.island.name, island_path(booking.island) %></h2>
              <p><%= booking.user.email %> is staying at <%= booking.island.name %>!</p><br>
              <p>from <%= booking.start_date %> to <%= booking.end_date %></p><br>
              </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
  let anchor = document.location.toString().split("#")[1]
  if(anchor) {
    document.getElementById("home").classList.remove("active", "in", "show")
    document.getElementById("menu1").classList.remove("active", "in", "show")
    document.getElementById("menu2").classList.remove("active", "in", "show")
    document.getElementById("menu1").classList.add("active", "in", "show")
    document.querySelector("#tab1").classList.remove("active")
    document.querySelector("#tab2").classList.remove("active")
    document.querySelector("#tab3").classList.remove("active")
    document.querySelector("#tab2").classList.add("active")
  }
</script>
