<h1><%= @island.name %></h1>
<h1><%= @island.price %></h1>
<h1><%= @island.location %></h1>
<h1><%= @island.squarekm %></h1>
<h1><%= @island.number_of_villas%></h1>
<h1><%= @island.guests%></h1>

<% @island.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
