  <% @bookings.each do |booking|%>
<div class="card-product">
    <% booking.island.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= booking.island.name %></h2>
      <p><%= booking.confirmed ? "Confirmed! Enjoy your trip ☀️ " : "Your request is still being reviewed" %></p>
      <p><%= booking.start_date %> - <%= booking.end_date %></p>
    </div>
</div>
  <% end %>
