
<div class="topnav sticky-top" id="myTopnav">
  <div>
    <a href="/" class="active"> Islandia <i class="fad fa-island-tropical"></i> </a>
  </div>

  <div>
    <%= link_to "Explore", islands_path  %>

    <% if user_signed_in? %>
      <%= link_to "My Islands", my_islands_path  %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "My Bookings", bookings_path  %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Sign Out",  destroy_user_session_path, method: "delete", class: "dropdown-item" %>
          <%= link_to "My Requests", my_requests_path, class: "dropdown-item" %>
          <%= link_to "My Islands", my_islands_path, class: "dropdown-item" %>
          <%= link_to "Rent out your Island", new_island_path, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Sign-up", new_user_registration_path, class: "dropdown-item" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
