
<div class="topnav" id="myTopnav">

<div>
 <a href="/" class="active">Islandia</a>

</div>
<div>

<%= link_to "Explore", islands_path  %>

<%= link_to "My Islands", my_islands_path  %>

<%= link_to "My Bookings", bookings_path  %>



</div>
<div>
<% if user_signed_in? %>
<%= link_to "Sign Out",  destroy_user_session_path, method: "delete" %>
<% else %>
<%= link_to "Sign In", new_user_session_path %>


<% end %>
<%# #backgroundimage {
background-image: url("image3.png");
width: 100vw;
height: 100vh;
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
} %>

</div>



</div>
